<div style="padding-left: 40%; padding-top: 5%; padding-bottom: 5%; border-style:groove;">
    <button mat-button style="background: rgb(18, 191, 214); width: 28%;"  [routerLink]="['consultar']"> Consultar</button>
    <br>
    <br>
    <button mat-button style="background: rgb(18, 191, 214); width: 28%;" [routerLink]="['consignacion']" >Consignar</button>
    <br>
    <br>
    <button mat-button style="background: rgb(18, 191, 214); width: 28%;" [routerLink]="['retiro']" >Retirar</button>
</div>
